** Author: Lauren Washington **

**Instructions:** Save your **first name**, **last name**, and **age** in **3 separate variables**.  
Print  Hi, my name is (**first name**) (**last name**). I am (**age**) years old.

In [10]:
#Working with Variables
#remove quotes around 29 and see what happens. why?

first_name = "Lauren"
last_name = 'Washington'
age = "30"

print("Hi, my name is " + first_name +" " 
      + last_name + ". I am " + age + " years old." )

format_example = "Hi, my name is {} {}. I am {} years old."
print(format_example.format(first_name, last_name, age))

Hi, my name is Lauren Washington. I am 30 years old.
Hi, my name is Lauren Washington. I am 30 years old.

**Instructions:** 
Put everything in one cell. 
1. Create the variable age_data_type and store the data type of the age variable.  
2. Print age_data_type.  
3. Reassign your age to the age variable but without quotations.  
4. Reassign the new age to age_data_type.  
5. Print age_data_type.  
6. Test a boolean for age. For example, I would do age == 30.  
7. Print out a boolean test for age with your age as a string.  
8. Print out a boolean test for age with your age as an integer.  
9. Retest your boolean for age. (step 6)

In [11]:
age_data_type = type(age)
print(age_data_type)

#assign new variable to age
age = 30 
age_data_type = type(age)
print(age_data_type)

#doesn't print because there is no print statement
age == 30

print(age == "30")
print(age == 30)

#prints because it's on the last line
age == 30

<class 'str'>
<class 'int'>
False
True

True

**Instructions:** 
1. Test if all of the characters in the **first_name** variable are alphabetic.

In [13]:
print(first_name.isalpha())

#will receive an error message because an integer is not a decimal
#print(age.isdecimal())

True

**Instructions:**   

1. Save the first letter of **first_name** to a variable called **first_initial**.
2. Print **first_initial**.  
**In new cell.**
3. Find the length of the **first_name** variable.  
**In new cell.**
4. Save all letters of the **first_name** variable to a new variable called **indexed_first_name** by indexing the first name variable from the first character to the length of the first name variable. For example, Lauren is length 6 so I would do first_name[0:6].
5. Print **indexed_first_name**.

In [4]:
#index starts at 0 in python which may be confusing for R users 
first_initial = first_name[0]
print(first_initial)

#find the length of the variable 
(len(first_name))

#index from 0 to len(first_name)
indexed_first_name = first_name[0:6]
print(indexed_first_name)

L
Lauren

**Instructions:**  
1.  Explore the string method (str). Type str. then press tab. Do you see a method for changing characters to uppercase?
2.  Type str.(method)? for documentation.

In [17]:
str.upper?

Docstring:
S.upper() -> str

Return a copy of S converted to uppercase.
Type:      method_descriptor

**Instructions:**

Extract the word Welcome, as WELCOME, from the sentence "Welcome to the world of recruitment data extraction".

In [5]:
#extract the word 'Welcome'
'Welcome to the world of recruitment data extraction.'[0:7].upper()

'WELCOME'

In [19]:
#run as is then uncomment .index('on') line and print 49:51
#how does this differ from find?
print('Welcome to the world of recruitment data extraction.'.find('t'))
#print('Welcome to the world of recruitment data extraction.'.index('on'))
print('Welcome to the world of recruitment data extraction.'[8:])
#print('Welcome to the world of recruitment data extraction.'[49:51])
#notice quotes with lack of print statement
'Welcome to the world of recruitment data extraction.'[-44:-1]

8
to the world of recruitment data extraction.

'to the world of recruitment data extraction'

**Instructions**:
1. create a list of the 3 parts of a phone number. For example (404), 555, 5555.
2. Print and join the 3 strings to create a properly formatted phone number.

In [9]:
random_strings = ['(555)', '555', '5555']
print('-'.join(random_strings))

(555)-555-5555

**Instructions:**  
Start creating your Data Science Narrative.  
1. Create a list of the schools you've attended and/or MOOCs you've completed. Save this list to the **list_of_schools** variable.
2. Print **list_of_schools**.

In [10]:
#create a list of schools
list_of_schools = ['Spelman College', 'Atlanta Metropolitan College', 'Columbia University', 'Bootcamp']
print(list_of_schools)

['Spelman College', 'Atlanta Metropolitan College', 'Columbia University', 'Bootcamp']

**Instructions:**
1. Create an empty list called (type of institution)_school_info. For example, undergrad_school_info.
2. Add the name of your school/program, location, Degree/Certificate, Area of Study, Start Year, End Year, GPA/Grade.
3. Print (type of institution)_school_info.
4. Print the type of your variable (type of institution)_school_info.

In [11]:
#also a valid list
undergrad_school_info = []
undergrad_school_info = ['Spelman College','Atlanta, GA', 'Undergrad', 'BA', 'Econ', 2005, 2009, 3.6]
print(undergrad_school_info)
print(type(undergrad_school_info))

['Spelman College', 'Atlanta, GA', 'Undergrad', 'BA', 'Econ', 2005, 2009, 3.6]
<class 'list'>

**Instructions:**
1. Create a list from the name of one of your schools/programs.

In [12]:
list("Columbia")

['C', 'o', 'l', 'u', 'm', 'b', 'i', 'a']

**Instructions:**
1. Create a list ranging from 0 to 4.

In [21]:
#list(range(5.0))
list(range(5))

[0, 1, 2, 3, 4]

**Instructions:**
1. Create another list of school info variabe similar to the undergrad_school_info done above. Don't include your grade/gpa.
2. Append your grade/gpa to the list you just created.
3. Print out your new variable.

In [23]:
#run as is then uncomment second line and re-run. What happened?
grad_school_info = ['Columbia University: GSAS', "New York City, New York", 'Grad', 'MA', 'Quantitative Methods in the Social Sciences', 2011, 2012]
#grad_school_info.append(3.4)
print(grad_school_info)

['Columbia University: GSAS', 'New York City, New York', 'Grad', 'MA', 'Quantitative Methods in the Social Sciences', 2011, 2012]

**Instructions:**
1. Create a dictionary with your school/MOOC as the key and degree/certificate as the value. For example, 
"Spelman College":"Economics".
2. Print out the degree/certificate from one of your schools.

In [15]:
#create a dictionary with the job candidate's school 
#as the key and degree/certification/etc as the value

lauren_education = {
    "Spelman College": "Economics",
    "Atlanta Metropolitan College": "Post-Bac Math/Stats",
    "Columbia University": "Quantitative Methods in the Social Sciences",
    "Bootcamp": "Data Science Certificate"
}

#What did Lauren study at Atlanta Metropolitan College?
lauren_education["Atlanta Metropolitan College"]

'Post-Bac Math/Stats'

**Instructions:**
1. Save your linkedin profile url, as a string, to the variable **linkedin_url**.

In [16]:
#job candidate's url
linkedin_url = "https://www.linkedin.com/in/lauren-washington-0978ba8/"

**Instructions:**
1. Split your linkedin_url at '//'.

In [17]:
#split url removes splitting item and separates the original data 
#into segments 
linkedin_url.split('//')

['https:', 'www.linkedin.com/in/lauren-washington-0978ba8/']

**Instructions:**
1. Write an if statement referencing your schooling dictionary.

if key == value:  
++++print("Let's interview him/her for our new Data Scientist position!")

In [18]:
#basic if statement
if lauren_education["Bootcamp"] == "Data Science Certificate":
    print("Let's interview him/her for our new Data Scientist position!")

Let's interview him/her for our new Data Scientist position!

**Instructions:**
1. Write a function that prints the number of items in your education dictionary.

def name_of_function(parameter):  
++++print statement

2. Run the function.  

name_of_function(parameter)

In [19]:
#define a function which examines how many key-value pairs
#are in the job candidate's education dictionary
def num_education(dict_obj):
    print(len(lauren_education))

In [20]:
#use num_education function
num_education(lauren_education)

4

**Instructions:**
1. Write a function with the following requirements:  
a. the required parameters are your school dictionary and your linkedin url  
b. create a variable named **how_many_education**  
c. have **how_many_education** store a block of formatted text. '''Result: (newline) (indent) This candidate has {} degrees/certifications (indent) in their education dictionary.'''  
d. create a variable named **to_confirm**  
e. have **to_confirm** store a block of formatted text. '''(indent) To confirm, visit this URL: (newline) (indent)(indent){}'''  
f. create a **num** variable and store the length of your dictionary.  
g. print how_many_education.format(num)  
h. print to_confirm.format(linkedin)  
2. Run the function.

In [21]:
#create function to print out high-level information about the candidate

def prettify_education(dict_obj, linkedin):
    how_many_education = ''' 
    Result: \n
    \tThis candidate has {} degrees/certifications 
    \tin their education dictionary.'''
    to_confirm = '''
    \tTo confirm, visit this URL: \n
    \t\t{}'''
    num = len(dict_obj)
    print(how_many_education.format(num))
    print(to_confirm.format(linkedin))

In [22]:
#make the results readable 
prettify_education(lauren_education, linkedin_url)

    Result:

    	This candidate has 4 degrees/certifications
    	in their education dictionary.

    	To confirm, visit this URL:

    		https://www.linkedin.com/in/lauren-washington-0978ba8/

**Instructions:**
1. Add 1 to your age variable.

In [24]:
age += 1
print(age)

30

In [25]:
#write a function to screen candidates for mobile developer positions
def screen_candidate(dict_obj):
    if dict_obj["Bootcamp"] == "Mobile Development":
        print("Let's interview him/her for our new Front-End Web Dev position!")
    else:
        print("He/She seems talented, but not for this position. Happy recruiting!")

In [26]:
#not a good candidate for mobile development
screen_candidate(lauren_education)

He/She seems talented, but not for this position. Happy recruiting!

In [27]:
#write a function to screen candidates for mobile developer positions
#or pass to different teams
#Note: Pass to the Data Science Recruitment Team. is not indented. 
#What happens when you indent it?
def elif_screen_candidate(dict_obj):
    if dict_obj["Bootcamp"] == "Mobile Development Certificate":
        print("Let's interview him/her for our new Front-End Web Dev position!")
    elif dict_obj["Bootcamp"] == "Data Science Certificate" :
        print('''He/She seems talented, but not for this position. 
Pass to the Data Science Recruitment Team.''')
    else:
        print("He/She seems talented, but not for this position. Happy recruiting!")

In [28]:
#pass to a different team
elif_screen_candidate(lauren_education)

He/She seems talented, but not for this position.
Pass to the Data Science Recruitment Team.

In [29]:
#wrong data
def dictionary_detection(dict_obj):
    try:
        dict_obj.fromkeys()
        print("Thanks for uploading your dictionary!")
    except AttributeError:
        print("Not a dictionary. Please upload a dictionary.")

In [30]:
dictionary_detection(list_of_schools)

Not a dictionary. Please upload a dictionary.

In [31]:
print(dir(lauren_education))
print(lauren_education.fromkeys)

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
<built-in method fromkeys of type object at 0x1001cbc00>

In [32]:
#who are Lauren's Thinkful mentees?
#friendly reminder for intro email
mentees_contact = ["James at <insert email>", "Jon at <insert email>", "Martin at <insert email>"]
for mentee_contact in mentees_contact:
    print("Remember to say hello to {}, before your first 1:1.".format(mentee_contact))

Remember to say hello to James at <insert email>, before your first 1:1.
Remember to say hello to Jon at <insert email>, before your first 1:1.
Remember to say hello to Martin at <insert email>, before your first 1:1.

In [33]:
#you don't have to display the content of the list
#how many students showed up for all three sessions
mentee_present = ["anon_student_1", "anon_student_2"]
for mentee in mentee_present:
    print("Present")

Present
Present

In [34]:
"Bootcamp" in lauren_education

True

In [35]:
del lauren_education["Atlanta Metropolitan College"]
lauren_education

{'Bootcamp': 'Data Science Certificate',
 'Columbia University': 'Quantitative Methods in the Social Sciences',
 'Spelman College': 'Economics'}

In [36]:
concentration = list(lauren_education.values())
concentration

['Economics',
 'Data Science Certificate',
 'Quantitative Methods in the Social Sciences']

In [37]:
#CodeWars Poem Formatting
def format_poem(poem):
   a = poem.split('.')
   b = print('. \n'.join(a))

In [38]:
#create function to print out high-level information about the candidate

def prettify_education(dict_obj, linkedin):
    how_many_education = 'Result: This candidate has {} degrees/certifications in their education dictionary.'
    to_confirm = 'To confirm, visit this URL: {}'
    num = len(dict_obj)
    print(how_many_education.format(num))
    print(to_confirm.format(linkedin))